@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Source+Code+Pro:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Mukta:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  height: auto;
}
.header {
  background: rgb(233, 233, 233);
  margin-top: 5vh;
  /* background-color: grey; */
  box-shadow: 5px 5px 10px grey;
  width: 65vw;
  display: flex;
  align-self: center;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-evenly;
}
button {
  padding: 1vh 1.5vw;
  border-radius: 10px;
  border: none;
  background: rgb(209, 209, 209);
  /* font-size: 1.1rem; */
  font-weight: bold;
  transition: 0.25s;
  outline: none;
}
button:hover {
  background: rgb(187, 186, 186);
}

.search-input {
  width: 40vw;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
  transition: 0.3s;
  text-align: center;
}
.search-input:focus {
  background: rgb(224, 224, 224);
}
.total {
  display: flex;
  font-size: 1.2rem;
}
.totalPhotos {
  border-radius: 10px;
  text-align: center;
  width: 5vw;
  outline: none;
  font-size: 1.05rem;
  transition: 0.3s;
}
p,
.label {
  font-family: "Arimo", sans-serif;
  font-family: "Mukta", sans-serif;
}
input {
  font-family: "Mukta", sans-serif;
  font-family: monospace;
}
.totalPhotos:focus {
  background: rgb(224, 224, 224);
}
.show {
  margin-top: 5vh;
  margin: 0 15px;
  background: grey;
  padding-top: 15px;
  /* width: 70vw; */
  align-self: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}
.label {
  font-size: 1.5rem;
  display: flex;
  align-self: center;
  margin-bottom: 4vh;
  margin-top: 5vh;
  background: rgb(201, 201, 201);
  padding: 16px 25px;
  border-radius: 10px;
}
.image {
  margin: 20px 0;
  width: 25vw;
  height: 20vw;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* tablet mode */
@media only screen and (max-width: 985px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: 25vh;
    padding: 0;
  }
  .search-input {
    width: 300px;
  }
  .label {
    font-size: 1.3rem;
    margin-bottom: 4vh;
  }
  .totalPhotos {
    height: 1.6rem;
    width: 7vw;
  }
  button {
    width: 90px;
    padding: 10px 0;
  }
  .image {
    margin: 15px;
    width: 65vw;
    height: 60vw;
  }
}

/* mobile mode */
@media only screen and (max-width: 985px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: 25vh;
    width: 350px;
    padding: 0;
  }
  .search-input {
    width: 300px;
  }
  .total {
    width: 300px;
    margin-left: 45%;
  }
  .totalPhotos {
    height: 1.6rem;
    width: 11vw;
  }
  button {
    width: 90px;
    padding: 10px 0;
  }
  .image {
    margin: 15px;
    width: 65vw;
    height: 60vw;
  }
}
